
body {
  margin: 0;
  background-color: #FFF7E9;
  -webkit-font-smoothing: antialiased;
}

nav {
  display: flex;
  justify-content: space-between;
  color:  black;
  padding: 20px 30px;
  font-family:'Raleway', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}

#button {
  background-color: #FFE9C0;
  border-radius: 15px;
  color:  black;
  padding: 10px 20px;
  font-family:'Raleway', sans-serif;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col1 {
  padding: 20px 20px;
  height: 100px;
  width: 20%;
  z-index: 0;
}

.col2 {
  width: 68%;
  border-radius: 20px;
  margin:0;
  background-color: white;
  padding: 20px 20px 400px 20px;
  z-index: 2;
}

.flexbox {
  height: 100%;
  flex-wrap: wrap;
  }

.flexbox > div {
    margin: 15px;
    justify-content: center;
    line-height: 75px;
    font-size: 30px;
  }

.square{
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

#colour {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}


.yellowb {
  background-color: #FFCE76;
}

.orangeb {
  background-color: #FF925A;
}

.pinkb {
  background-color: #FFA5AE;
}

.blueb {
  background-color: #86E0D6;
}

.greenb {
  background-color: #ACD156;
}

.yellow {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #FFCE76;
}

.orange {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #FF925A;
}

.pink {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #FFA5AE;
}

.blue {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #86E0D6;
}

.green {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #ACD156;
}
