div {
  padding: 20px 20px;
}

@font-face {
  font-family: "raleway";
  src: url(fonts/Raleway.otf);
}

body {
  background-image : url('beach1.png');
}

.container {
  padding-top: 12%;
  width: 980px;
  margin: auto;
  font-family: "raleway";
}

.section {
  width: 850px;
  margin: auto;
  font-family: "raleway";
}

#section1 {
  background-color: #FFFFFF;
  border-radius: 30px;
}

h1, h2, h3 {
  font-family: "raleway";
  text-align: left;
}

h1 {
  font-size: 45pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 20pt;
}

.space {
  padding-top: 1px;
  padding-bottom: 15px;
}

.paragraph {
  width: 850px;
  margin: auto;
  color: #141414;
}

button {
  border-radius: 10px;
  padding: 5px 30px;
  background-color: white;
  color: black;
}

.buttonbox {
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: space-around;
  width: 850px;
  margin: auto;
}

/* flamingo styles */
#flamingodiv {
  display: flex;
  justify-content: center;
}

#flamingo {
  z-index: 4;
}

.grass {
  width: 200px;
  height: 80px;
  background-color: green;
  position: absolute;
  margin-top: 155px;
  z-index: 3;
}

.sky {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  position: absolute;
  z-index: 2;
}

.col_img {
  width: 250px;
  padding: 35px 20px 35px;
}

#centered_imgs {
  text-align: center;
}
.col2container {
  display: flex;
  justify-content: center;
}
.col2 {
  width: 45%;
  padding: 0 20px 0 20px;
}
