body {
  background-color: #1B191C;
  color: #c8c8c8;
}

.container {
  width: 65%;
  margin: auto;
  margin-top: 100px;
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 20px 0px 0px 0px;
  line-height: 1.45em;
  font-size: 16pt;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50pt;
  color: #bb813a;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 26pt;
  font-weight: lighter;
  padding-bottom: 40px;
  width: 85%;
  color: #c8c8c8;
}

h4 {
  font-family: sans-serif;
  color: #656866;
}


hr {
  margin-bottom: 40px;
}

/* image blocks within article */
figure {
  margin-top: 50px;
  width: 48%;
}

figcaption {
  font-family: 'Rubik';
  font-size:1.2em;
  color: #bb813a;
  padding-top: 10px;
}

img {
  border: 1px solid #000;
}

@media screen and (max-width: 768px) {

  h1 {

    font-weight: 700;
    font-size: 40pt;
    color: #FFBF43;
  }

  h2 {
    font-weight: 300;
    font-size: 20pt;
    color: #FFFFF5;
  }

  h4 {
    font-weight: 300;
    font-size: 10pt;
    color: #FFFFF5;
  }

  p {
    font-weight: 300;
    font-size: 13pt;
    color: #FFFBD5;
  }

@media screen and (max-width: 600px) {

  p {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    padding: 20px 0px 0px 0px;
    line-height: 1.35em;
    font-size: 14pt;
  }

}




@media screen and (max-width: 600px) {


    h1 {

      font-weight: 100;
      font-size: 20pt;
      color: #3B8B9C;
    }

    h2 {
      font-weight: 80;
      font-size: 15pt;
      color: #3B8B42;
    }

    h4 {
      font-weight: 60;
      font-size: 12pt;
      color: #3B8B00;
    }

    p {
      font-weight: 30;
      font-size: 10pt;
      color: #FFFBD5;
    }
