body {
  background-color: #000000;
  font-family:'Caudex', serif;
  src: url("https://fonts.googleapis.com/css2?family=Caudex&display=swap");
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

a:link {
  color: #9D6800;
  text-decoration: none;
}

a:visited {
  color: #9D6800;
  text-decoration: none;
}

.content1 {
  /* Description */
  position: absolute;
  width: 881px;
  height: 684px;
  left: 288px;
  top: 150px;
  font-family: 'Caudex';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #747474;
}

.content2 {
  /* Description */
  position: absolute;
  width: 881px;
  height: 384px;
  left: 288px;
  top: 650px;
  font-family: 'Caudex';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #747474;
  padding-bottom: 20px;
}

#read-more { display: none; }

#read-more ~ .quote {
  max-height: 0px;
}

#read-more:checked ~ .quote {
  max-height: 310px;
}

* { margin: 0; padding: 0; }

.button {
  position: absolute;
  width: 38px;
  height: 20px;
  left: 720px;
  top: 460px;
  background: #000000;
  box-shadow: 0px 4px 19px rgba(255, 255, 255, 0.56);
  border-radius: 22px;
  display: inline-block;
  outline: none;
}

.button:active {
  background: hsl(0, 0%, 98%);
  box-shadow: inset 0 0 5px hsl(0, 0%, 85%);
}

.button:hover {
  background: #FFFFFF;
}

.quote {
  text-align: justify;
  overflow: hidden;
  padding: 0 0 10px;
  position: absolute;
  width: 300px;
  max-height: 0;
  transition: max-height 200ms;
}

#read-more ~ .quote:after {
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 40px;
  padding-left: 50px;
  opacity: 1;
  visibility: visible;
  transition: all 200ms;
  color: #aaa;
  font-style: oblique;
  line-height: 40px;
}

#read-more:checked ~ .quote:after {
  opacity: 0;
  visibility: hidden;
}

.quote {
  position: absolute;
  width: 770px;
  height: 461px;
  left: 290px;
  top: 510px;
  font-family: 'Caudex';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
}
  #read-more1 { display: none; }

  #read-more1 ~ .quote1 {
    max-height: 0px;
  }

  #read-more1:checked ~ .quote1 {
    max-height: 310px;
  }

  * { margin: 0; padding: 0; }

.button1 {
  position: absolute;
  width: 38px;
  height: 20px;
  left: 690px;
  top: 770px;
  background: #000000;
  box-shadow: 0px 4px 19px rgba(255, 255, 255, 0.56);
  border-radius: 22px;
  display: inline-block;
  outline: none;
}

.button1:active {
  background: hsl(0, 0%, 98%);
  box-shadow: inset 0 0 5px hsl(0, 0%, 85%);
}

.button1:hover {
  background: #FFFFFF;
}

.quote1 {
  text-align: justify;
  overflow: hidden;
  padding: 0 0 10px;
  position: absolute;
  width: 300px;
  max-height: 0;
  transition: max-height 200ms;
}

#read-more1 ~ .quote1:after {
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 40px;
  padding-left: 50px;
  opacity: 1;
  visibility: visible;
  transition: all 200ms;
  color: #aaa;
  font-style: oblique;
  line-height: 40px;
}

#read-more1:checked ~ .quote1:after {
  opacity: 0;
  visibility: hidden;
}

.quote1 {
  position: absolute;
  width: 450px;
  height: 361px;
  left: 484px;
  top: 800px;
  padding-bottom: 40px;
  font-family: 'Caudex';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}

@media screen and (max-width: 475px) {

  li {
    font-size: 12px;
  }

  .container {
    width: 30%;
  }

  .content1 {
    position: absolute;
    width: 30%;
    font-size: 9px;
    line-height: 15px;
  }

  .content2 {
    position: absolute;
    width: 30%;
    font-size: 9px;
    line-height: 15px;
  }
  .quote {
    font-size: 12px;
    line-height: 20px;
  }

  .quote1 {
    font-size: 12px;
    line-height: 20px;
}
}
